doctype html
html
   head
      title Weather info for #{city}
   body
      h1 Temp: #{temp} K
      h2 #{info}
      h3 Pressure: #{press} bar
      h3 Humidity: #{humidity}%
      h3 Wind speed: #{speed} kmph
